/* #nav {
    padding: 0px 0px 0px 20px;
    box-shadow: 0 8px 10px -10px rgba(255,255,255,0.4);
    -webkit-box-shadow: 0 8px 10px -10px rgba(255,255,255,0.4);
    background-color: #0d0d0d;
}

#nav .dropdown-item:hover {
    background-color: rgba(0,0,0,0.5);
}

#nav .dropdown-menu {
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
} */

#footer {
    /* background: rgba(20,20,100,0.2); */
    background-color: rgba(255,200,200,0.1);
    /* Space between content and footer */
    /* margin-top: 2em; */
}
