# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Environment
venv
.venv
.env

# Django
__pycache__
db.*
*.db
# migrations
local_settings.py
Pipfile.lock
mediaroot
staticroot

# Note that heroku is stateless and needs all files, including migrations


### VisualStudioCode ###
.vscode/**/*
!.vscode/settings.json.default
!.vscode/settings.json.recommended
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/extensions.json.recommended


.pytest_cache/
