

$light: #ccc;

$dark1: #111;
$dark2: #222;
$dark3: #333;
$dark4: #444;
$dark5: #555;
$dark6: #666;
$dark7: #777;
$dark8: #888;
$dark9: #999;
$darka: #aaa;
$darkb: #bbb;
$darkc: #ccc;
$darkd: #ddd;
$darke: #eee;
$darkf: #fff;