{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ request.user }}{% endblock title %}

{% block head %}
    <style media="screen">
        #form {
            max-width: 35em;
        }
    </style>
{% endblock head %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'accounts:profile' %}">Min profil</a></li>
    <li class="breadcrumb-item"><a href="{% url 'accounts:edit_profile' %}">Rediger profil</a></li>
{% endblock %}

{% block body %}
    <div id="form" class="default-theme user-theme">
        <h1>Rediger profil:</h1>
        <!-- Edit user (form) -->
        <form method="POST"> <!-- Bootstrap -->
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group"> <!-- Bootstrap -->
                    {{ field.label_tag }}
                    {{ field }}
                    <div class="text-muted small">
                        {{ field.help_text }}
                    </div>
                    {% for error in field.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}

            <div class="row">
                <div class="col-sm-4 mt-2">
                    <a class="btn btn-secondary btn-block text-light" href="{% url 'accounts:profile' %}">Avbryt</a>
                </div>
                <div class="col mt-2">
                    <button type="submit" class="btn btn-primary btn-block text-light">Lagre</button>
                </div>
            </div>


        </form> <!-- End: Edit user (form) -->


    </div>

    <br><br><br> <!-- Quickfix footer -->
{% endblock %}
