{% extends 'main/base.html' %}
{% load static %}

{% block title %}Logg inn{% endblock title %}

{% block head %}
    <style media="screen">
        .default-theme {
            min-width: 220px;
            max-width: 500px;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'accounts:login' %}">Logg inn</a></li>
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <h2>Du er allerede logget inn</h2>
    {% else %}
        <div class="row">
            <div class="col-sm">

            </div>
            <div class="col-sm">
                <div class="default-theme">

                    <h2>Logg inn:</h2>

                    <form class="" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            {{ field.label_tag }}
                            {{ field }}
                            {% for error in field.errors %}
                                <div class="text-danger">
                                    {{ error }}
                                </div>
                            {% endfor %}

                        {% endfor %}

                        {% for error in form.non_field_errors %}
                            <div class="text-danger">
                                {{ error }}
                            </div>
                        {% endfor %}

                        <button class="btn btn-primary mt-3" type="submit" name="button">Logg inn</button>
                    </form>

                    <div class="text-danger">
                        {{ error }}
                    </div>

                    <div class="mt-3">Mangler du bruker? <a href="{% url 'accounts:signup' %}">Opprett en her</a></div>


                </div>

        </div>
        <div class="col-sm">

        </div>
      </div>

    {% endif %}
{% endblock %}

{% block scriptblock %}
    <script type="text/javascript">
        $(document).ready(function() {

        })
    </script>
{% endblock %}
